body {
    font-family: sans-serif;
}

#demo {
    width: 60%;
    margin: auto;
    position: absolute;
    left: 20%;
    
}

#jokeButton {
    display: block;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 50px;
}

#chuckImage {
    max-width: 15%;
    margin: 0 42%;

}

@media only screen and (max-width: 800px) {
    #chuckImage {
        max-width: 33%;
        margin: 0 33%;
    }
}

